<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JsonPlaceholder-Web/Prod" parallel="tests" thread-count="1">
    <test name="PostsTest">
        <classes>
            <class name="jsonplaceholder.tests.PostsTests"/>
        </classes>
    </test>
    <test name="UsersTests">
        <classes>
            <class name="jsonplaceholder.tests.UsersTests"/>
        </classes>
    </test>
</suite>